<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuechu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IndexActivity" />
        <activity android:name=".Page_Index.ItemView_Activity" />
        <activity android:name=".Page_Index.ItemDescriptionActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".page_yuechu.startActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page_yuechu.ycActivity" />
        <activity android:name=".page_yuechu.phbActivity" />
        <activity android:name=".page_yuechu.xsActivity" />
        <activity android:name=".page_yuechu.scActivity" />
        <activity android:name=".page_yuechu.sc1Activity" />
        <activity android:name=".page_yuechu.sc2Activity" />
        <activity android:name=".page_yuechu.sc3Activity" />
        <activity android:name=".page_yuechu.phb1Activity" />
        <activity android:name=".page_yuechu.xs1Activity" />
        <activity android:name=".page_yuechu.xs2Activity" />
        <activity android:name=".page_yuechu.xs3Activity" />
        <activity android:name=".page_my.UnregisterActivity" />
        <activity android:name=".page_my.PersonalActivity" />
        <activity android:name=".page_my.MenuActivity" />
        <activity android:name=".page_my.InsertMenuActivity" />
        <activity android:name=".page_my.DisplayActivity" />
        <activity android:name=".page_search.SearchActivity"></activity>
    </application>

</manifest>